@namespace Comps

<div class="row">
    <div class="col-5 col-md-3 text-end">@Description :</div>
    <div class="col-7 col-md-9">Value</div>
</div>

@code {
    [Parameter] 
    public string? Description {get;set;}
    //[Parameter] public string Value
}