@page "/new_character"
@rendermode InteractiveServer
@using Components

<PageTitle>New Character</PageTitle>

<h1>Create new character</h1>

<InputText @bind-Value="Name"  placeholder = "Name"/>
<InputNumber TValue="int" @bind-Value="@Initiative"  />
<p id = "demo">
This is my character; <br/> 
name: @Name <br/>
initiative: @Initiative
</p>

@if (!success){
    <Alert Color="AlertColor.Danger"> Required fields not filled out, character not created </Alert>
}
<button class="btn btn-primary" @onclick="SubmitAsync">Submit</button>
@code {
    private string Name;
    private int Initiative;
    private Character? Character;
    private bool success = true;

    private void SubmitAsync()
    {
        if (Name == null)
            success = false;
        else
            success = true;
        StateHasChanged();
    }
}
