@page "/new_character"
@rendermode InteractiveServer

<PageTitle>New Character</PageTitle>

<h1>Create new character</h1>

<p role="status">Current count: @currentCount</p>



<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    //indsæt input-fields til name og initiative
}
