@page "/new_character"
@rendermode InteractiveServer

<PageTitle>New Character</PageTitle>

<h1>Create new character</h1>

<InputText @bind-Value="Name"  placeholder = "Name"/>
<NumberInput TValue="int" @bind-Value="@Initiative" Placeholder="Enter amount" />
<p id = "demo">This is my character; name: @Name initiative: @Initiative</p>


<button class="btn btn-primary" @onclick="Submit">Submit</button>

@code {
    private string Name;
    private int Initiative;
    private Character Character;
    private void Submit()
    {
        Character = new Character{
            Name = Name,
            Initiative = Initiative,
        };
    }
}
